*{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #222;
}
html, body{
    margin: 0;
    height: 100vh;
    text-align: center;
}
.header{
    background-image: url(../img/diabetes.jpg);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-attachment: scroll;
    background-size: cover;
    height: 20vh;
    margin: 0;
    padding-top: 60vh;
}
.heading {
    color: #ffffff;
    margin-top: -480px;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: 6em;
    font-weight: normal;
    text-shadow: 0 0 10px #000;
}
.heading-subtext{
    color: #fff;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: .6em;
}


.section{
    margin: 0 auto;
    max-width: 600px;
    padding: 1em 2.4em;
}
.sub-heading{
    font-family: 'Caveat', cursive;
    font-size: 3em;
    margin-top: 2em;
}
.details{
    margin: 0 auto 8em;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
}
.fas {
    font-size: 3em;
    opacity: .8;
}
.resort-image{
    width: 100%
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 4em;
    }
  }